# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
data = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [5]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [6]:
data.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [7]:
data.item_price = data.item_price.replace(r"\$", '', regex = True)

In [8]:
data.item_price = data.item_price.astype("float")

In [9]:
data[data.item_price>10.00].shape[0]

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [47]:
name = data[["item_name", "item_price"]].drop_duplicates(subset="item_name", keep='first')

### Step 6. Sort by the name of the item

In [51]:
name.sort_values(by="item_name").head()

                  item_name  item_price
298       6 Pack Soft Drink        6.49
39            Barbacoa Bowl       11.75
21         Barbacoa Burrito        8.99
168   Barbacoa Crispy Tacos       11.75
1229    Barbacoa Salad Bowl       11.89

### Step 7. What was the quantity of the most expensive item ordered?

In [75]:
maximo = data.item_price.max()

data[data.item_price == maximo].quantity

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [68]:
data[data.item_name == "Veggie Salad Bowl"].quantity.sum()

18

### Step 9. How many times did someone order more than one Canned Soda?
I calculated the total quantity of Canned Soda of orders greater than 1. when I wanted to get the total number of orders

In [74]:
data[(data.item_name == "Canned Soda") & (data.quantity > 1)].quantity.sum()

42

In [76]:
# Correct answer
len(data[(data.item_name == "Canned Soda") & (data.quantity > 1)])

20